<%- include("layout/header") %>

    <!-- about -->
    <div class="banner-image-2 w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="content text-center">
            <h1 class="white-color bold">About US</h1>
        </div>

    </div>

    <!-- teachers  -->
    <div class="container mt-4">
        <div class="row">
            <div class="content text-center mb-4">
                <h1 class="primary-color bold ">Project Supervisor and Co-Supervisor</h1>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4 col-sm-4">
                            <img src="./img/t1.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-sm-8 col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">Shah Md. Tanvir Siddiquee</h5>
                                <p class="card-text">Assistant Professor <br>
                                    Initial:
                                    SMTS <br>
                                    Email:
                                    tanvir.cse@diu.edu.bd <br>
                                    Phone:
                                    01712560297</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4 col-sm-4">
                            <img src="./img/t2.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-sm-8 col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">Shah Md. Tanvir Siddiquee</h5>
                                <p class="card-text">Assistant Professor
                                    <br>
                                    Initial: AS <br>
                                    Email: abdus.cse@diu.edu.bd <br>
                                    Phone: 01818392800

                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about our team  -->
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="content text-center mb-4">
                <h1 class="primary-color bold">Team members</h1>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4 col-sm-4">
                            <img src="/img/tonmoy.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-sm-8 col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">Tonmoy Chakraborty</h5>
                                <p class="card-text">181-15-10868<br>
                                    <b>Batch:</b> 49 <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4 col-sm-4">
                            <img src="/img/shimu.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-sm-8 col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">Hasna Hena Shimu</h5>
                                <p class="card-text">181-15-10682<br>

                                    <b>Batch:</b> 49 <br>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4 col-sm-4">
                            <img src="/img/nahib.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-sm-8 col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">M. H. Nahib <strong>[TL]</strong></h5>
                                <p class="card-text">181-15-10894<br>

                                    <b>Batch:</b> 49 <br>

                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include("layout/footer") %>