<%- include("layout/dashboardHeader") %>
    <div class="container m-4">
        <div class="container">


            <form method="post" action="/dashboard/route/">
                <div class="mb-3">
                    <label for="routeNoId" class="form-label">Route No</label>
                    <input type="text" class="form-control" id="routeNoId" name="routeNo">
                </div>
                <div class="mb-3">
                    <label for="routeNameId" class="form-label">Route Name</label>
                    <input type="text" class="form-control" id="routeNameId" name="routeName">
                </div>
                <div class="mb-3">
                    <label for="busStoppagesId">Bus Stoppage(s)</label>
                    <textarea class="form-control" id="busStoppagesId" name="busStoppages" rows="3"
                        aria-describedby="help"></textarea>
                    <div id="help" class="form-text">Please input bus stoppage(s) name separated by commas</div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
    <%- include("layout/dashboardFooter") %>