<%- include("layout/dashboardHeader") %>
    <div class="container m-4">
        <div class="container">

            <%- include('./partials/messages') %>
                <form method="post" action="/dashboard/drivers/">
                    <div class="mb-3">
                        <label for="driverNameId" class="form-label">Name</label>
                        <input type="text" class="form-control" id="driverNameId" name="driverName">
                    </div>
                    <div class="mb-3">
                        <label for="phoneId" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phoneId" name="phone">
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

        </div>
    </div>
    <%- include("layout/dashboardFooter") %>