<%- include("layout/header") %>


    <!-- Banner Image  -->
    <div class="howto w-100   justify-content-center align-items-center">
        <div class="content text-center">
            <h1 class="primary-color text-white bold pb-4 pt-4">How To Use</h1>
            <div class="container pb-4">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/7P56xVcMrEE" title="YouTube video"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>





    <%- include("layout/footer") %>