<%- include("layout/header") %>


    <!-- Banner Image  -->
    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="content text-center">
            <h1 class="primary-color bold">DIU Bus Booking System</h1>
            <button style="border-radius: 0 !important;" type="button" class="btn btn-color w-80 m-4">Book Now!</button>
        </div>

    </div>


    <!-- countdown  -->
    <div class="container m-4 d-flex justify-content-center align-items-center pt-2 pb-2">
        <div class="container">
            <div class="row pt32 pb32">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="border-left border-primary px-3">
                        <h2 class="font-weight-bold text-black text_format">
                            <font style="color: rgb(66, 66, 66);">Our</font>
                            &nbsp;
                            <b><span class="font-weight-normal text-primary"><b>Resources</b></span>
                                &nbsp;
                            </b>
                            &nbsp;&nbsp;&nbsp;
                            <span class="font-weight-normal text-primary" style="font-size: 18px;"></span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  col-sm-12-6 col-md-6 col-lg-3 single-count pb32">
                    <div class="d-flex">
                        <div class="p-3">
                            <span class="fa fa-4x fa-bus mr-4" data-original-title="" title=""
                                aria-describedby="tooltip150450"
                                style="color: rgb(66, 66, 66); font-size: 48px;"></span>
                        </div>
                        <div>
                            <h2 class="text-primary font-weight-bold">
                                <span class="counter" data-target="50" style="font-size: 48px;">50</span>
                            </h2>
                            <b>
                                <font style="color: rgb(66, 66, 66); font-size: 18px;">TOTAL VEHICLES</font>
                            </b>
                        </div>
                    </div>
                </div>
                <div class="col-12  col-sm-12-6 col-md-6 col-lg-3 single-count pb32">
                    <div class="d-flex">
                        <div class="p-3">
                            <span class="fa fa-4x fa-user mr-4" data-original-title="" title=""
                                aria-describedby="tooltip805530"
                                style="color: rgb(66, 66, 66); font-size: 48px;"></span>
                        </div>
                        <div>
                            <h2 class="text-primary font-weight-bold">
                                <span class="counter" data-target="100" style="font-size: 48px;">100</span>
                            </h2>
                            <span class="font-weight-bold">
                                <font style="color: rgb(66, 66, 66); font-size: 18px;">DRIVERS &amp; HELPERS</font>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12  col-sm-12-6 col-md-6 col-lg-3 single-count pb32">
                    <div class="d-flex">
                        <div class="p-3">
                            <span class="fa fa-road mr-4 fa-4x" data-original-title="" title=""
                                aria-describedby="tooltip251146"
                                style="color: rgb(66, 66, 66); font-size: 48px;"></span>
                        </div>
                        <div>
                            <h2 class="text-primary font-weight-bold">
                                <span class="counter" data-target="15" style="font-size: 48px;">15</span>
                            </h2>
                            <span class="font-weight-bold">
                                <font style="color: rgb(66, 66, 66); font-size: 18px;">TOTAL ROUTES</font>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12  col-sm-12-6 col-md-6 col-lg-3">
                    <div class="d-flex">
                        <div class="p-3">
                            <span class="fa mr-4 fa-asterisk fa-4x" data-original-title="" title=""
                                aria-describedby="tooltip800196"
                                style="color: rgb(66, 66, 66); font-size: 18px;"></span>
                        </div>
                        <div>
                            <h2 class="text-primary font-weight-bold">
                                <span class="counter" data-target="05" style="font-size: 48px;">05</span>
                            </h2>
                            <span class="font-weight-bold">
                                <font style="color: rgb(66, 66, 66); font-size: 18px;">TECHNICIANS</font>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- banner 2 -->
    <div class="banner-image-2 w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="content text-center">
            <h1 class="white-color bold">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit blanditiis
                pariatur, reiciendis ullam, neque consequatur quasi tempora molestiae officiis, itaque veritatis minima
                incidunt. Commodi ipsa nesciunt repellat ut quaerat consequuntur!</h1>
        </div>

    </div>



    <%- include("layout/footer") %>