<%- include("layout/header") %>
    <div class="container-fluid" style="background: rgb(0,77,124);
background: linear-gradient(90deg, rgb(11,5,15) 0%,rgb(64,44,72)  35%,  rgb(51,30,63) 100%);">
        <div class="container features-type ">
            <div class="row align-items-center pb-4">

                <div class="col-lg-7 col-md-12 text-sec mb-lg-0 mb-5">
                    <h2 class="text-white bold text-center bold"
                        style="font-family: 'Lobster', cursive; font-size: 2.9rem;">Welcome
                    </h2>
                    <h5 class="primary-font text-center text-white mt-4 mb-4">Sign up to continue </h5>
                    <% if (error) { %>
                        <%- include('./partials/messages') %>
                            <% } %>
                                <form action="/auth/teacher/signup" method="POST">
                                    <div class="mb-3">
                                        <label for="employeeId" class="form-label text-white primary-font">Employee
                                            Id</label>
                                        <input type="text" class="form-control" id="employeeId" name="employeeId"
                                            aria-describedby="employeeIdHelp" required>
                                        <div id="employeeIdHelp" style="color: #91989e !important" class="form-text">
                                            Enter your vaild employee id
                                            (Example:
                                            xxxxxxxxx)
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="employeeName"
                                            class="form-label text-white primary-font">Name</label>
                                        <input type="text" class="form-control" id="employeeName" name="employeeName"
                                            aria-describedby="employeeNameHelp" required>
                                        <div id="employeeNameHelp" style="color: #91989e !important" class="form-text">
                                            Enter your vaild name.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="emailId" class="form-label text-white primary-font">Email</label>
                                        <input type="email" class="form-control" id="emailId" name="email"
                                            aria-describedby="emailHelp" required>
                                        <div id="emailHelp" style="color: #91989e !important" class="form-text">Enter
                                            your valid email address
                                            something@diu.edu.bd
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="passsword"
                                            class="form-label text-white primary-font">Password</label>
                                        <input type="password" name="password" class="form-control" id="passsword"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="gender" class="form-label text-white primary-font">Gender</label>
                                        <select name="gender" class="form-control" required>

                                            <option value="male" selected>Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>

                                    <!-- <button type="submit" class="btn-green mt-4">Continue</button> -->
                                    <div class="mb-3 text-center">
                                        <input style="border-radius: 0 !important;" type="submit"
                                            class="btn btn-color w-100  mt-2" value="Signup As Teacher">
                                    </div>

                                    <div class="mb-3 text-center">
                                        <a style="border-radius: 0 !important;" href="/auth/student/signup"
                                            class="btn btn-outline-success w-100 text-white  mt-1">Signup As Student</a>
                                    </div>
                                    <div class="mb-3 text-center">
                                        <a style="border-radius: 0 !important;" href="/auth/employee/signup"
                                            class="btn btn-outline-danger w-100 text-white  mt-1">Signup As Employee</a>
                                    </div>
                                </form>
                </div>

                <div class="col-lg-5 d-none d-lg-block ">
                    <div class="card border-0 ">
                        <img src="/img/login.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>


        <%- include("layout/footer") %>