<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>DIU BUSES</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

    <!-- base css  -->
    <link rel="stylesheet" href="/css/base.css">
    <!-- bootstrap css  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />




</head>

<body>

    <!-- top menu  -->
    <div class="top-menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-block">
                    <ul class="nav me-auto float-end">
                        <li class="nav-item top-conent">
                            <a class="nav-link active" href="#">Contuct us</a>
                        </li>
                        <li class="nav-item top-conent">
                            <a class="nav-link active" href="tel:16222"><i class="fas fa-phone"></i> 16222</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Navigation -->
    <div class="m-1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">
                    <img src="/img/logo.png" height="35" alt="CoolBrand">
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">

                    </div>
                    <div class="navbar-nav ms-auto">
                        <a href="#" class="nav-item nav-link primary-color bold">Home</a>
                        <a href="#" class="nav-item nav-link primary-color bold">Services</a>
                        <a href="#" class="nav-item nav-link primary-color bold">About Us</a>
                        <a href="#" class="nav-item nav-link primary-color bold">Contuct Us</a>
                        <a href="/login" class="nav-item nav-link primary-color bold mx-2">Login</a>
                        <a href="/signup" class="nav-item nav-link primary-color bold mx-2">Signup</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>